/* Your styles goes here. */
@import "~bootstrap/dist/css/bootstrap.min.css";


.topContainer {
    
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,116,1) 100%); 
    padding: 30px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color:#f1f1f1;
  }
  
  .header {
    padding: 10px 16px;
    color: #f1f1f1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(8,21,129,1) 39%, rgba(0,212,255,1) 100%);
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }